.hero-section .section-wrapper {
  max-width: 1200px;
}
.hero-section .section-wrapper h1 {
  text-align:left;
}
#faq {
  margin:6rem auto;
  max-width: 1200px;
}
#faq .faq-item h2 {
  margin-bottom:1rem;
  color: var(--pirate-doubloon);
}
#faq .faq-item p {
margin-bottom:2rem;
}
