.hero-section h1 {
    color: var(--pirate-cloud)
}

/* ----- description-section ----- */
.description-section {
    background-color: var(--darker-grey);
    padding: 100px 0px 60px;
    text-align: center;
    color: var(--text-main);
    position: relative;
}
.description-section .content {
    margin-bottom: 100px;
}
.description-section .description {
    padding: 40px 60px;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    margin: auto;
}
.description-section .description h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205); 
    color: var(--pirate-cloud);
    text-align: left;
    font-size: 34px;
    max-width: 600px;
}
.description-section .description p {
    display: block;
    margin: 20px auto;
    text-align: left;
}
.description-section .description .btn {
    margin-top: 40px;
    display: block;
    color: var(--pirate-leviathan);
    background-color: var(--pirate-neon);
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description-section .description .btn:hover {
    background-color: var(--pirate-doubloon);
    outline: none;
}
@media screen and (max-width:1257px) {
  .description-section .description .btn {
        margin-inline: auto;
  }
  .description-section .description h3 {
        text-align: center;
        margin-bottom: 40px;
  }
}
.description-section .merchants {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    text-align: center;
    vertical-align: top;
    color: var(--pirate-cloud);
    font-size: 18px;
}  
.description-section .merchants img {
    display: block;
    width: 100%;
    max-width: 40px;
    margin: auto;
    margin-top: 100px;
}
.description-section .merchants .count {
    margin: 20px auto 10px;
    font-size: 64px;
    display: block;
}

/* ----- merchants-section ----- */
.merchants-section {
    text-align: center;
    background-color: var(--dark);
    padding: 160px 0px 80px;
}
.merchants-section h2 {
    font-size: 3em;
}
.merchant-box {
    display: inline-block;
    width: 100%;
    max-width: 426px;
    background-color: var(--darkest);
    min-height: 560px;
    vertical-align: top;
    margin: 18px 12px;
    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: -8px -8px 16px #2c334659,8px 8px 16px #1c233091;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.merchant-box:hover {
    border: 1px solid var(--pirate-neon);
}
.merchant-box h2 {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    font-size: 22px;
    color: var(--pirate-doubloon);
    padding: 0px 8px;
    overflow: hidden;
}
.merchant-imgbox {
    width: 90%;
    height: 240px;
    border-radius: 7px;
    background-color: transparent;
    padding: 0;
    margin: 30px auto 0px;
    display: block;
}
.merchant-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.merchant-description {
    color: var(--text-main);
    margin: 0px auto;
    padding: 0px 20px;
    min-height: 70px;
    font-size: 14px;
    word-wrap:break-word;
}
.tag-btn {
    padding: 0px 6px;
    background-color: rgb(36, 36, 36);
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #d4d4d4;
    display: inline-block;
    margin: 2px;
}
.tag-box {
    width: 100%;
    padding: 0px 10px;
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom: 20px;
}
.tag-btn:hover,
#tag-buttons button:hover {
    background-color: var(--pirate-neon);
    color: var(--pirate-leviathan);
}
#tag-buttons button {
    padding: 6px 18px;
    background-color: rgb(56, 56, 56);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #444444;
    z-index: 999;
    color: #eeeeee;
    display: inline-block;
    margin: 4px 3px;
    width: 160px;
    height: 60px;
    vertical-align: top;
      position: relative;
}
#tag-buttons button.selected {
  border: 2px solid var(--pirate-neon);
}
#tag-buttons .count {
  font-size: 12px;
  color: var(--text-main);
  background-color: var(--dark);
  padding: 4px 8px;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  top: 2px;
  right: 2px;
}
#tag-buttons .showall {
    background-color: rgba(255, 0, 0, 0.534);
}
#tag-buttons {
    margin-top: 80px;
    margin-bottom: 120px;
}
#tag-buttons h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    display: block;
    color: #adadad;
}
#tag-buttons #current_tag {
    color: #fff;
}

/* ----- mobile width adjustments ----- */
@media screen and (max-width:500px) {
    .hero-section  {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .merchant-box {
	display: block;
	margin: 24px auto;
        height: fit-content;
        min-height: 600px;
	}
    .btn {
        width: 100%;
        min-width: 100px;
        padding: 10px 5px;
        margin: 8px auto;
    }
    .hero-section h1 {
        font-size: 30px;
    }
    .hero-section strong {
        font-size: 20px;
    }
    .hero-section p {
        font-size: 16px;
    }
    .description-section {
        padding-top: 80px;
    }
    .description-section .description {
        padding: 10px;
    }
    .description-section .description h3 {
        font-size: 22px;
    }
    .merchants-section h2 {
        font-size: 26px;
    }
}
.pah {
    width: 100%;
    max-width: 250px;
}

