.hero-section h1 {
    color: var(--pirate-cloud)
}

/* ----- description-section ----- */
.description-section {
    background-color: var(--darker-grey);
    padding: 100px 0px 60px;
    text-align: center;
    color: var(--text-main);
    position: relative;
}
.description-section .content {
    margin-bottom: 100px;
}
.description-section .description {
    padding: 40px 60px;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    margin: auto;
}
.description-section .description h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205); 
    color: var(--pirate-cloud);
    text-align: left;
    font-size: 34px;
    max-width: 600px;
}
.description-section .description p {
    display: block;
    margin: 20px auto;
    text-align: left;
}
.description-section .description .btn {
    margin-top: 40px;
    display: block;
    color: var(--pirate-leviathan);
    background-color: var(--pirate-neon);
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description-section .description .btn:hover {
    background-color: var(--pirate-doubloon);
    outline: none;
}
@media screen and (max-width:1257px) {
  .description-section .description .btn {
        margin-inline: auto;
  }
  .description-section .description h3 {
        text-align: center;
        margin-bottom: 40px;
  }
}
.description-section .merchants {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    text-align: center;
    vertical-align: top;
    color: var(--pirate-cloud);
    font-size: 18px;
}  
.description-section .merchants img {
    display: block;
    width: 100%;
    max-width: 40px;
    margin: auto;
    margin-top: 100px;
}
.description-section .merchants .count {
    margin: 20px auto 10px;
    font-size: 64px;
    display: block;
}

/* ----- merchants-section ----- */
.merchants-section {
    text-align: center;
    background-color: var(--dark);
    padding: 160px 0px 80px;
}
.merchants-section h2 {
    font-size: 3em;
}
.merchant-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
    padding: 1rem;
    background-color: #3437475c;
    margin: 18px 12px;
    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%), 8px 8px 16px rgb(0 0 0 / 14%);
    transition: all 0.3s ease-in-out;
    position: relative;
    
}
.merchant-box:hover {
    border: 1px solid #fb9700;
    box-shadow: 0 0 10px #ffb61857;
}

.merchant-box h2 {
    width: 100%;
    margin: 1rem;
    font-size: 1.15rem;
    color: var(--pirate-doubloon);
    line-height: 1.15em;
    height: 2.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.merchant-imgbox {
    display: inline-flex;
    align-self: start;
    width: 100%;
    height: 240px;
    border-radius: 7px;
    background-color: #1d1e23;
    padding: 1rem clamp(1rem, 2vw, 2rem);
}
.merchant-link-area {
    display: grid;
    grid-template-rows: auto auto;  /* Changed from 1fr 1fr */
    justify-items: center;   
}
.merchant-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.merchant-description {
    color: var(--text-main);
    padding: 0px 20px;
    /* min-height: 70px; */
    font-size: 14px;
    word-wrap:break-word;
}
.tag-btn {
    padding: 0px 7px;
    background-color: #66677529;
    border-radius: 9px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    color: rgb(203 206 215 / 61%);
    display: inline-block;
    margin: 2px;
}
.tag-box {
    width: 100%;
    padding: 0px 10px;
    bottom:0;
    left:0;
    margin: 1rem 0;
}
.tag-btn:hover,
#tag-buttons button:hover {
    background-color: var(--pirate-neon);
    color: var(--pirate-leviathan);
    border: 1px solid #ffbd30;
}
#tag-buttons button {
    padding: 6px 18px;
    background-color: #292c36;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #1c1c1c;
    z-index: 999;
    color: #aeaeb3;
    display: inline-block;
    margin: 4px 3px;
    width: 160px;
    height: 60px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}
#tag-buttons button.selected {
  border: 2px solid var(--pirate-neon);
}
#tag-buttons .count {
    font-size: 11px;
    color: var(--text-main);
    background-color: #333643;
    padding: 6px 0px;
    padding-top: 1rem;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -30px;
    transform: rotate(45deg);
    width: 73px;
    text-align: center;
}
#tag-buttons .showall {
    background-color: #4a68cf;
    color: #fff;
}
#tag-buttons {
    margin-top: 80px;
    margin-bottom: 120px;
}
#tag-buttons h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    display: block;
    color: #adadad;
}
#tag-buttons #current_tag {
    color: #fff;
}

/* ----- mobile width adjustments ----- */

@media screen and (max-width:500px) {
    .hero-section  {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .btn {
        width: 100%;
        min-width: 100px;
        padding: 10px 5px;
        margin: 8px auto;
    }
    .hero-section h1 {
        font-size: 30px;
    }
    .hero-section strong {
        font-size: 20px;
    }
    .hero-section p {
        font-size: 16px;
    }
    .description-section {
        padding-top: 80px;
    }
    .description-section .description {
        padding: 10px;
    }
    .description-section .description h3 {
        font-size: 22px;
    }
}
.pah {
    width: 100%;
    max-width: 250px;
}

