/* ----- merchant-listingBuilder section ----- */
.merchant-listingBuilder {
    background-color: var(--dark);
    padding: 80px 0px;
    text-align: center;
}
.merchant-listingBuilder h2 {
    margin-bottom: 10px;
}
.listing-box {
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
    padding: 2rem;
    padding-top:3.3rem;
    background: var(--pirate-smoke-blue);
    border-radius: 12px;
}
#listing_preview {
    display: inline-flex;
}
#listing_preview, .listing-box {
    width: 650px;
}
#listing_preview .merchant-imgbox {
    width:100%;
    height: auto;
}
label {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 2rem;
    color: var(--pirate-cloud);
    margin-bottom: 0.2rem;
}
.listing-box label {
    color: var(--pirate-doubloon);
}
input {
    width: 100%;
    max-width: 400px;
    height: 30px;
    font-size: 20px;
    margin: auto;
    padding-inline: 10px;
}
#merchantNameInput {
    text-align: center;
}
#merchantDescInput {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    max-width: 426px;
    height: 80px;
    text-align: center;
    margin: auto;
}
#merchantURLInput {
    max-width: 300px; 
}

#merchantDescInput, #merchantNameInput, #merchantURLInput {
    background: var(--pirate-gale);
    border: 1px solid var(--lighter-grey);
    border-radius: 4px;
    color: var(--pirate-mist);
    font-family: inherit;
    font-size: .85rem;
    font-weight: 200;
}
#merchantURLButton {
    margin: 0px;
    height: 30px;
    vertical-align: top;
    padding-inline: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--pirate-doubloon);
    color: var(--dark);
    border-radius: 4px;
}
#merchantImageInput {
    height: auto;
}
#urlMessage {
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}
label[for="listing_preview"] {
    margin-top: 60px;
}
input[type=file]::file-selector-button {
    border: 1px solid var(--pirate-smoke-blue);
    background-color: var(--pirate-gale);
    font-size: 1.2rem;
    color: var(--pirate-doubloon);
    height: auto;
    text-align: center;
    padding-inline: 1rem;
    padding:.3rem 1rem;
    cursor: pointer;
    margin-top: .6rem;
    margin-right: .6rem;
    margin-bottom: 20px;
    border-radius: .3rem;
}

#uploadMessage {
    height: 30px;
    color: var(--red-highlight);
    font-size: 14px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
    padding: 10px;
    text-align: left;
    border: none;
}  
.grid-item {
    border-radius: 4px;
    border: none;
    min-width: 200px;
    color: var(--text-main);
    background: #292c35;
    padding: 0.3rem .9rem;
    text-align: left;
}
.grid-container label {
    display: inline-block;
    color: var(--text-main);
    margin-top: 0;
    font-size: 1rem;
    cursor: default;
    cursor: pointer;
}
.grid-container input {
    padding-inline: 0px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.grid-container input:hover,  
.grid-container label:hover  {
    color: var(--pirate-neon);
}
.generate_desc {
    margin-top: 60px;
    margin-bottom: 10px;
}
.generate_code {
    width: 300px;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 18px;
}
#errorMessage {
    color: var(--red-highlight);
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
    display: block;
}
#errorMessage ul {
    list-style-type: disc;
    padding-left: 30px;
}
#errorMessage h4 {
    color: var(--pirate-cloud);
    text-align: left;
}
#codeOutputContainer {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 40px auto 60px;
    display: none;
}
#codeOutput {
    background-color: var(--darkest);
    color: var(--pirate-cloud);
    width: 100%;
    padding: 40px 40px;
    word-wrap:break-word;    
    text-align: left;
    font-size: 12px;
}
#submitListing {
    text-align: left;
    color: var(--text-main);
    font-size: 14px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: none;
}
#submitListing p {
    margin-top: 20px;
}

/* ----- listing decoder section ----- */
.decoder-section {
    background-color: var(--dark);
    display: block;
    padding: 80px 0px;
    text-align: center;
}
.decoder-section .logo {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0px auto 40px;
}
#codeInput {
    width: 100%;
    max-width: 600px;
    height: 200px;
    display: block;
    margin: 40px auto 10px;
    background-color: var(--darkest);
    color: var(--text-main);
    padding: 20px 10px;
}
#decode_btn {
    margin-top: 40px;
}
#result_container strong {
    color: var(--pirate-cloud);
}
#result_container h2 {
    margin-bottom: 10px;
}
#result_container p {
    max-width: 600px;
    display: block;
    margin: auto;
}
.decoder-section #codeOutputContainer {
    max-width: 700px;
}
.decoder-section #result_container {
    margin-top: 80px;
    display: none;
}
#result_container #result h2 {
    margin-top: 40px
}
#result_container #result input, 
#result_container #result textarea {
    text-align: left;
    font-size: 16px;
}
#result_container #result textarea {
    min-height: 120px;
    max-width: 400px;
}
#result_container #merchantIDInput {
    text-align: center;
}
#result_container #merchantURLInput {
    max-width: 400px;
}
#result_container #result .btn {
    display: block;
    margin: 20px auto 0px;
}
#result_container #inspection-links {
    margin-top: 140px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--darkest);
    padding: 80px 0px;
}
#result_container #inspection-links #links  {
    margin: 20px auto;
    display: block;
    list-style-type: none;
    text-align: left;
    width: 100%;
    max-width: 180px;
}
#result_container #inspection-links #links li {
    margin-top: 5px;
}
.submit-listing {
    display: block;
    width: 100%;
    margin-top: 100px;
}
.submit-listing #codeOutput {
    color: var(--text-main);
    
}
.submit-listing #codeOutputContainer {
    margin-bottom: 0px;
    display: block;
}
.commit_msg {
    margin-left: 20px;
    font-size: 14px;
    font-style: italic;
    background-color: var(--darkest);
    padding: 5px 20px;
}
.github-instructions {
    margin: 40px auto 80px;
    list-style-type: decimal;
    display: block;
    width: 100%;
    max-width: 550px;
    text-align: left;
}
.github-instructions li {
    margin-top: 60px;
}

/* ----- mobile width adjustments ----- */
@media screen and (max-width:500px) {
    .hero-section  {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero-section .logo {
        max-width: 14px;
    }
    .hero-section h1 {
        font-size: 30px;
    }
    .hero-section strong {
        font-size: 20px;
    }
    .hero-section p {
        font-size: 16px;
    }
    .btn {
        width: 100%;
        min-width: 100px;
        padding: 10px 5px;
        margin: 8px auto;
        max-width: 200px;
    }
    .content {
        padding: 0px;
    }
    .merchant-box {
        display: block;
        margin: 24px auto;
        height: fit-content;
        min-height: 600px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}
